force-app/main/default/flows/ABCD_Comm_Ext_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ABCD_Complaint</name>
        <label>ABCD Complaint</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Nature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE_Logger_Record</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RunningUserName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IntegrationUserName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Technical_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABCD_Complaint</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ABCDComaplintCreationRecepient</name>
        <dataType>String</dataType>
        <expression>{!$Label.ABCD_Complaint_Creation_Email_ID}</expression>
    </formulas>
    <formulas>
        <name>ComplaintEmailTemplateName</name>
        <dataType>String</dataType>
        <expression>{!$Label.ABCD_Complaint_Creation_Email_Template}</expression>
    </formulas>
    <formulas>
        <name>IntegrationUserName</name>
        <dataType>String</dataType>
        <expression>{!$Label.ABCL_Integration_UserName}</expression>
    </formulas>
    <formulas>
        <name>RunningUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>ABCD Comm Ext Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABCD Comm Ext Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This is to create a Platform Event Logger Record.</description>
        <name>Create_PE_Logger_Record</name>
        <label>Create PE Logger Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Invoke_Platform_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>ComplaintEmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Attachment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Emails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_Address__c</field>
            <value>
                <elementReference>ABCDComaplintCreationRecepient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakeBodyFromContentDoc__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_Platform_Event</name>
        <label>Invoke Platform Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>currentRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvisorSMSTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cccRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASF_Case_Category_Config__c</objectType>
    </variables>
    <variables>
        <name>CreateSMSMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ABSLI_Advisor_Case_Creation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Current Record Context</description>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>customMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Older version of Case record.</description>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>outcome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecipientMobileNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResolvedSMSTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ABSLI_Advisor_Case_Closure</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupervisorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
