force-app/main/default/flows/ABCL_Lead_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Customer_Record</name>
        <label>Customer Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>customerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BU_Specific_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BU_Specific_Flow</name>
        <label>BU Specific Flow</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABSLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABSLI_Lead_Flow</targetReference>
            </connector>
            <label>ABSLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordId_Not_Null</name>
        <label>RecordId</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Running_User_Business_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no recordId</defaultConnectorLabel>
        <rules>
            <name>recordId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>recordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Running_User_Business_Unit</name>
        <label>Running User Business Unit</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABSLI_RU_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABSLI_Lead_Flow</targetReference>
            </connector>
            <label>ABSLI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ABCL Lead Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABCL Lead Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordId_Not_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ABSLI_Lead_Flow</name>
        <label>ABSLI Lead Flow</label>
        <locationX>270</locationX>
        <locationY>842</locationY>
        <flowName>ABSLI_Lead_Creation_Flow</flowName>
        <inputAssignments>
            <name>customerRecord</name>
            <value>
                <elementReference>customerRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>customerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
