force-app/main/default/flows/ABFL_Complaint_Specific_Holding_Responses_33_66_3Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This apex class is for checking the BU Specific logic.</description>
        <name>Additional_Checks_for_Email_Templates</name>
        <label>Additional Checks for Email Templates</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <actionName>ASF_CustomerEmailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Holding_Response</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__cccRecord</typeName>
            <typeValue>ASF_Case_Category_Config__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cccRecord</name>
            <value>
                <elementReference>CaseCategoryConfigRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>TemplateDevName_Email</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SuppresssEmail</assignToReference>
            <name>supressEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TemplateDevName_Email</assignToReference>
            <name>templateName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assigning the Email template and SMS template Dev Name</description>
        <name>Assign_Email_SMS_Template_Dev_Name_1</name>
        <label>Assign Email &amp; SMS Template Dev Name 1</label>
        <locationX>248</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TemplateDevName_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_1.Holding_Response_Email_Template_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemplateDevName_SMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_1.Holding_Response_SMS_Template_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCategoryConfigRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Template_Dev_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the Email template Dev Name</description>
        <name>Assign_Email_SMS_Template_Dev_Name_2</name>
        <label>Assign Email &amp; SMS Template Dev Name 2</label>
        <locationX>512</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TemplateDevName_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_2.Holding_Response_Email_Template_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCategoryConfigRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Template_Dev_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the Email template and SMS template Dev Name</description>
        <name>Assign_Email_SMS_Template_Dev_Name_4</name>
        <label>Assign Email &amp; SMS Template Dev Name 4</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TemplateDevName_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_4.Holding_Response_Email_Template_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemplateDevName_SMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_4.Holding_Response_SMS_Template_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCategoryConfigRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Template_Dev_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Email Template Dev Name is null. If Not null then proceed for the next actions.</description>
        <name>Is_Template_Dev_Null</name>
        <label>Is Template Dev Null?</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateDevName_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Checks_for_Email_Templates</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Holding_Response</name>
        <label>Send Holding Response</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CaseCategoryConfigRecord.Send_Holding_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateDevName_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateDevName_SMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuppresssEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE_Logger</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to send the response to the customer when the case consumed 33% or 66% or it extends till 3 calendar days time</description>
    <interviewLabel>ABFL Complaint Specific Holding Responses (33%,66%, 3Days) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABFL Complaint Specific Holding Responses (33%,66%, 3Days)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new PE logger record</description>
        <name>Create_PE_Logger</name>
        <label>Create PE Logger</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Invoke_Platform_Event_for_Communication</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>TemplateDevName_SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>TemplateDevName_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>CaseCategoryConfigRecord.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_Platform_Event_for_Communication</name>
        <label>Invoke Platform Event for Communication</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>CaseCategoryConfigRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>TemplateDevName_SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Create_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Case_Category_Config_1</name>
        <label>Query Case Category Config(1)</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_SMS_Template_Dev_Name_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Case_Category_Config_2</name>
        <label>Query Case Category Config(2)</label>
        <locationX>512</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_SMS_Template_Dev_Name_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Case_Category_Config_4</name>
        <label>Query Case Category Config(4)</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_SMS_Template_Dev_Name_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 10 )AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABFL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nature__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail - Unsecured</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail - Secured</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not classified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABWM</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Holding_Response_1_33</name>
            <connector>
                <targetReference>Query_Case_Category_Config_1</targetReference>
            </connector>
            <label>Holding Response 1(33%)</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Case_SLA_Threshold_1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Holding_Response_2_66</name>
            <connector>
                <targetReference>Query_Case_Category_Config_2</targetReference>
            </connector>
            <label>Holding Response 2(66%)</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Case_SLA_Threshold_2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Holding_Response_4_Past_3_Days</name>
            <connector>
                <targetReference>Query_Case_Category_Config_4</targetReference>
            </connector>
            <label>Holding Response 4(Past 3 Days)</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Overall_Case_Closure_SLA__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the case category config record</description>
        <name>CaseCategoryConfigRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ASF_Case_Category_Config__c</objectType>
    </variables>
    <variables>
        <name>SuppresssEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Email template dev Name</description>
        <name>TemplateDevName_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the SMS template dev Name</description>
        <name>TemplateDevName_SMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
