force-app/main/default/flows/ABFL_Update_CaseNumber_on_Case_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddCurrentInstance</name>
        <label>AddCurrentInstance</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ListOfRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseExtensionInstance</name>
        <label>UpdateCaseExtensionInstance</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecords.CaseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecords.Open_Stage_Owner_Email_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecords.Open_Stage_Owner_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurrentInstance</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ABFL - Update CaseNumber on Case Extension</interviewLabel>
    <label>ABFL - Update CaseNumber on Case Extension</label>
    <loops>
        <name>UpdateRecords</name>
        <label>UpdateRecords</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Extensions_where_Case_details_are_null</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCaseExtensionInstance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CaseIds_on_Extension_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Extensions_where_Case_details_are_null</name>
        <label>Get Extensions where Case details are null</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ABFL_Case_Detail__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ABFL_Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CaseIds_on_Extension_records</name>
        <label>Update CaseIds on Extension records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>ListOfRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Extensions_where_Case_details_are_null</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOfRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ABFL_Case_Detail__c</objectType>
    </variables>
</Flow>
