force-app/main/default/flows/ABHI_Case_Detail_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>UpdateMemberFields</name>
        <label>UpdateMemberFields</label>
        <locationX>72</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Pan_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Aadhar_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aadhar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Number_member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Alternatemobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Alternatemobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Email_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Email_ID_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Email_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Email_Id_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateNomineeFields</name>
        <label>UpdateNomineeFields</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.NomineeContactNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.Relationship__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckIfPolicyOrNomineeUpdated</name>
        <label>CheckIfPolicyOrNomineeUpdated</label>
        <locationX>336</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PolicyIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Member__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>PolicyIsUpdated</label>
        </rules>
        <rules>
            <name>NomineeIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Policy_Nominee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Nominee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Policy_Nominee__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNomineeFields</targetReference>
            </connector>
            <label>NomineeIsUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Customer_Member_Mapping_Not_null</name>
        <label>Get Customer Member Mapping Not null</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Member_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Member_mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail</targetReference>
            </connector>
            <label>Customer Member present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_claim_and_member_lookup</name>
        <label>Update claim and member lookup</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_source</name>
            <conditionLogic>1 AND ((6 AND (2 OR 3)) OR (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Technical_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClaimNo_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Member_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Member_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Member_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ClaimNo_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClaimNo_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim</targetReference>
            </connector>
            <label>Technical source</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClientCode</name>
        <dataType>String</dataType>
        <expression>&apos;ABHI_&apos;+{!$Record.Customer_Member_Text__c}</expression>
    </formulas>
    <interviewLabel>ABHI Case Detail After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABHI Case Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_claim_and_member_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ABHI_Case_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim</name>
        <label>Get Claim</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountClientCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClaimNo_Text__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Member_mapping</name>
        <label>Get Customer Member mapping</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Member_Mapping_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountClientCode.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Member_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>72</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateMemberFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Aadhar</assignToReference>
            <field>Aadhar_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pan_Number</assignToReference>
            <field>PAN_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccountClientCode</name>
        <label>Get Account On Client Code</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Member_mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOB_Client_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Rec</name>
        <label>Rec</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>CheckIfPolicyOrNomineeUpdated</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <stringValue>SBI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <stringValue>a1EBl000000HJPdMAO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>Get_Claim.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_Customer_Member_mapping.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Get_Case_Record.Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <object>ABHI_Case_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Aadhar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Pan_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
