force-app/main/default/flows/ABHI_Delete_documents_when_OmniDoc_upload_is_successful.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_null_condition_for_the_get_element</name>
        <label>Check null condition for the get element</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_content_documents_available_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_content_documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_content_documents</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_content_documents</targetReference>
            </connector>
            <label>Are content documents available to delete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_allow</name>
        <label>Decision to allow</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Deletion_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.ABHI_AllowOmniDeletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_2_days_ago_are_to_be_deleted</targetReference>
            </connector>
            <label>Is Deletion Allowed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_2_days_ago_are_to_be_deleted</name>
        <label>Records 2 days ago are to be deleted</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_days_ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NOW_MINUS_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_content_documents</targetReference>
            </connector>
            <label>2 days ago?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW_MINUS_2</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.LastModifiedDate} &lt; (NOW() - 2)</expression>
    </formulas>
    <interviewLabel>ABHI Delete documents when OmniDoc upload is successful {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABHI Delete documents when OmniDoc upload is successful</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_content_documents</name>
        <label>Delete content documents</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputReference>Get_related_content_documents</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_related_content_documents</name>
        <label>Get related content documents</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_null_condition_for_the_get_element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContentDocumentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_to_allow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>ImageIndex__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocumentIndex__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GlobalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABHI</stringValue>
            </value>
        </filters>
        <object>DMS_Files__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-26</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionToBeDeleted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstCDIdsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
