force-app/main/default/flows/ABHI_Case_Detail_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_Patient_fields</name>
        <label>Update Patient fields</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Member_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Name__r.MemberId__r.Client_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateCaseDetailStatus</name>
        <label>UpdateCaseDetailStatus</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Claim_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Claim__r.Claim_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMemberCode</name>
        <label>UpdateMemberCode</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Member_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Client_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMemberFields</name>
        <label>UpdateMemberFields</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Pan_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Aadhar_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aadhar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Number_member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Alternatemobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Alternatemobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Email_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Email_ID_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Email_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Alternate_Email_Id_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Member_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Client_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Member_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Client_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonGenderIdentity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Primary_Number_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_DOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonBirthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Primary_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateNomineeFields</name>
        <label>UpdateNomineeFields</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.NomineeContactNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Existing_Nominee_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Nominee__r.Relationship__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckIfPolicyOrNomineeUpdated</name>
        <label>CheckIfPolicyOrNomineeUpdated</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PolicyIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>PolicyIsUpdated</label>
        </rules>
        <rules>
            <name>NomineeIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Policy_Nominee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Nominee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Policy_Nominee__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNomineeFields</targetReference>
            </connector>
            <label>NomineeIsUpdated</label>
        </rules>
        <rules>
            <name>PatientIsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Patient_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patient_fields</targetReference>
            </connector>
            <label>PatientIsUpdated</label>
        </rules>
        <rules>
            <name>Status_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Claim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Claim__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Claim__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseDetailStatus</targetReference>
            </connector>
            <label>Status Updated</label>
        </rules>
        <rules>
            <name>MemberCodeUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMemberCode</targetReference>
            </connector>
            <label>MemberCodeUpdate</label>
        </rules>
    </decisions>
    <description>ABHI Case Detail Status update</description>
    <environments>Default</environments>
    <interviewLabel>ABHI Case Detail After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABHI Case Detail After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateMemberFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__r.MemberId__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Aadhar</assignToReference>
            <field>Aadhar_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pan_Number</assignToReference>
            <field>PAN__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckIfPolicyOrNomineeUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IGMS_Complaint_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ABHI_Case_Detail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Aadhar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Pan_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
