force-app/main/default/flows/ABSLI_Lead_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Lead_Record</name>
        <label>Navigate to Lead Record</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <actionName>c:asf_navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Lead_1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:asf_navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_policyId_to_policyRecordIds</name>
        <label>Add policyId to policyRecordIds</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>policyRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Policy_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Policy_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Lead_Record</name>
        <label>Assign Values to Lead Record</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pincode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Source_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Code_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Product_LK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ScreenAttributes_Required_When_Customer_Not_Present</name>
        <label>Assignment-ScreenAttributes Required When Customer Not Present</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>customerRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ScreenAttributes_Required_When_Customer_Present</name>
        <label>Assignment-ScreenAttributes Required When Customer Present</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>customerRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerRecord.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerRecord.Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BranchwalkinOptionLeadSource</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Branch walk in&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Branch walk in</stringValue>
        </value>
    </choices>
    <choices>
        <name>BusinessUnitOption</name>
        <choiceText>ABSLI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABSLI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactCentreOptionLeadSource</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Contact Centre&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneABCOptionLeadSource</name>
        <choiceText>One ABC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One ABC</stringValue>
        </value>
    </choices>
    <decisions>
        <name>RecordId_Not_Null</name>
        <label>RecordId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assignment_ScreenAttributes_Required_When_Customer_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no recordId</defaultConnectorLabel>
        <rules>
            <name>recordId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>recordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CampaignPicklistValues</name>
        <dataType>String</dataType>
        <displayField>Campaign_Name__c</displayField>
        <object>ABSLI_Campaign_Master__mdt</object>
        <outputAssignments>
            <assignToReference>leadRecord.Campaign_Code__c</assignToReference>
            <field>Campaign_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leadRecord.Campaign_Name__c</assignToReference>
            <field>Campaign_Name__c</field>
        </outputAssignments>
        <valueField>Campaign_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadStageChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Stage__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>leadStagePicklistvalues</name>
        <dataType>String</dataType>
        <displayField>Stage__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShowAsUnique__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ASF_Lead_Stage_Substage_Master__mdt</object>
        <outputAssignments>
            <assignToReference>leadRecord.Lead_Stage__c</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
        <valueField>Stage__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSubStageChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Sub_Stage__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>leadSubStageDisqualified</name>
        <dataType>String</dataType>
        <displayField>SubStage__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </filters>
        <object>ASF_Lead_Stage_Substage_Master__mdt</object>
        <outputAssignments>
            <assignToReference>leadRecord.Lead_Sub_Stage__c</assignToReference>
            <field>SubStage__c</field>
        </outputAssignments>
        <valueField>SubStage__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>leadSubStagePicklistValues</name>
        <dataType>String</dataType>
        <displayField>SubStage__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>ASF_Lead_Stage_Substage_Master__mdt</object>
        <outputAssignments>
            <assignToReference>leadRecord.Lead_Sub_Stage__c</assignToReference>
            <field>SubStage__c</field>
        </outputAssignments>
        <valueField>SubStage__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>leadSubStageQualified</name>
        <dataType>String</dataType>
        <displayField>SubStage__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <object>ASF_Lead_Stage_Substage_Master__mdt</object>
        <outputAssignments>
            <assignToReference>leadRecord.Lead_Sub_Stage__c</assignToReference>
            <field>SubStage__c</field>
        </outputAssignments>
        <valueField>SubStage__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ABSLI_Lead_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoliciesForCustomer</name>
        <dataType>String</dataType>
        <displayField>Policy_No__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccount</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ratingChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceCodePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_Code__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageOptionSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Stage__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetBU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_LOBs__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetBUChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_LOBs__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetLOBChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Sub_LOBs__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetLOBPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Sub_LOBs__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>selectedAccount</name>
        <dataType>String</dataType>
        <expression>{!Customer.recordId}</expression>
    </formulas>
    <formulas>
        <name>selectedAccountName</name>
        <dataType>String</dataType>
        <expression>{!Customer.recordName}</expression>
    </formulas>
    <formulas>
        <name>selectedLeadStage</name>
        <dataType>String</dataType>
        <expression>{!Lead_Stage}</expression>
    </formulas>
    <interviewLabel>ABSLI Lead Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABSLI Lead Creation Flow</label>
    <loops>
        <name>Loop_through_Policy_records</name>
        <label>Loop through Policy records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Policy_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_policyId_to_policyRecordIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_ScreenAttributes_Required_When_Customer_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_1</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Navigate_to_Lead_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ABSLI_Lead_Type__c</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANI_Number__c</field>
            <value>
                <elementReference>ANI_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Address_Line_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Address_Line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Address_Line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Number__c</field>
            <value>
                <elementReference>Application_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Code__c</field>
            <value>
                <elementReference>leadRecord.Campaign_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name__c</field>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Premium__c</field>
            <value>
                <elementReference>Expected_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Stage__c</field>
            <value>
                <elementReference>leadRecord.Lead_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sub_Stage__c</field>
            <value>
                <elementReference>leadRecord.Lead_Sub_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>leadRecord.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PANNO__c</field>
            <value>
                <elementReference>PAN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIN_Code__c</field>
            <value>
                <elementReference>Pincode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_LK__c</field>
            <value>
                <elementReference>leadRecord.Product_LK__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Type__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Code__c</field>
            <value>
                <elementReference>Source_Code_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Campaign_Code__c</field>
            <value>
                <elementReference>leadRecord.Sub_Campaign_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Campaign_Name__c</field>
            <value>
                <elementReference>leadRecord.Sub_Campaign_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_LOBs__c</field>
            <value>
                <elementReference>Target_BU_LOB.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sub_LOBs__c</field>
            <value>
                <elementReference>Target_BU_LOB.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_ID__c</field>
            <value>
                <elementReference>Track_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Records</name>
        <label>Get Policy Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Policy_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordId_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Lead_Record</targetReference>
        </connector>
        <fields>
            <name>Basic_Information</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Source</name>
                    <choiceReferences>LeadTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>customerRequired</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product_LK__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Source_Code_2</name>
                    <choiceReferences>SourceCodePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Source Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Campaign</name>
                    <choiceReferences>CampaignPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campaign</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Employee_Name_RO</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!$User.FirstName}, {!$User.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>Created By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Created_By_ADID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.FederationIdentifier</elementReference>
                    </defaultValue>
                    <fieldText>Created By (ADID)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Details</name>
            <fieldText>Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutation</name>
                    <choiceReferences>SalutationChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.Salutation</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.City__c</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <choiceReferences>StatePicklistSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.State__c</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>customerRecord.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>customerRecord.PersonMobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Mobile to have 10 digits.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Mobile.value})=10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Address_Line_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.Street_Address_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.Street_Address_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.Street_Address_3__c</elementReference>
                    </defaultValue>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pincode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customerRecord.Postal_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Pincode</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead</name>
            <fieldText>Lead Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rating</name>
                    <choiceReferences>ratingChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Application_No</name>
                    <dataType>String</dataType>
                    <fieldText>Application No</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ANI_Number</name>
                    <dataType>String</dataType>
                    <fieldText>ANI Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Premium</name>
                    <dataType>Currency</dataType>
                    <fieldText>Expected Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Remarks</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Track_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Track Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Process</name>
            <fieldText>Lead Process</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Process_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Stage</name>
                    <choiceReferences>leadStagePicklistvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Open</stringValue>
                    </defaultValue>
                    <fieldText>Lead Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PAN</name>
                    <dataType>String</dataType>
                    <fieldText>PAN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Process_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Sub_Stage_Open</name>
                    <choiceReferences>leadSubStagePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Sub-Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Open</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lead_Sub_Stage_Qualified</name>
                    <choiceReferences>leadSubStageQualified</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Sub-Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Qualified</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lead_Sub_Stage_Disqualified</name>
                    <choiceReferences>leadSubStageDisqualified</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Sub-Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Disqualified</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Service_to_Sales</name>
            <fieldText>Service to Sales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_to_Sales_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>leadRecord.Location__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_to_Sales_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_BU_LOB</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Target_LOBs__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Target_Sub_LOBs__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Target LOB</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>targetBUValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Target Sub-LOB</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>targetLOBValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Service to Sales</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Lead_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Service to Sales- NBO</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>customerRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadSubStageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>StageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetBUValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetLOBValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
