force-app/main/default/flows/ABSLI_Comm_Ext_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recipient_for_Advisor_Communication_HDFC</name>
        <label>Recipient for Advisor Communication - HDFC</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <actionName>ABSLI_AdvisorCommunicationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>One_or_More_RO_for_Partner_Branch_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerBranchCode</name>
            <value>
                <elementReference>currentRecord.Asset.Partner_Branch_Code__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ABSLI_AdvisorCommunicationInvocable</nameSegment>
        <outputParameters>
            <assignToReference>SupervisorEmail</assignToReference>
            <name>ccEmailAddresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outcome</assignToReference>
            <name>outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RecipientMobileNo</assignToReference>
            <name>roMobileNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SupervisorMobile</assignToReference>
            <name>supervisorMobileNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ToEmailAddress</assignToReference>
            <name>toEmailAddresses</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Email_SMS_Template</name>
        <label>Email &amp; SMS Template</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABSLI_Advisor_Closure_VF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvisorSMSTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolvedSMSTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Policy_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_SMS_Template_New</name>
        <label>Email &amp; SMS Template - New</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABSLI_Advisor_Creation_VF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvisorSMSTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSMSMetadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Policy_Present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Policy_Present</name>
        <label>If Policy Present</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSF_Service_Agent_Not_Blank_CTST_With_Advisor_Communication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Asset.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Asset.Advisor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cccRecord.Advisor_Communication__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DSF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE_Logger_Record</targetReference>
            </connector>
            <label>DSF &amp; Service Agent Not Blank &amp; CTST With Advisor Communication</label>
        </rules>
        <rules>
            <name>Policy_with_Partner_Branch_and_Channel_as_HDFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Asset.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDFC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Asset.Partner_Branch_Code__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cccRecord.Advisor_Communication__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HDFC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_for_Advisor_Communication_HDFC</targetReference>
            </connector>
            <label>Policy with Partner Branch and Channel as HDFC</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_or_More_RO_for_Partner_Branch_Code</name>
        <label>One or More RO for Partner Branch Code</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_1_PE_Logger</targetReference>
            </connector>
            <label>Only 1</label>
        </rules>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_2_PE_Logger</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>If_Policy_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_SMS_Template</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_SMS_Template_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>This is extension flow of Communication Log Flow from Case Record Trigger Flow.</description>
    <environments>Default</environments>
    <interviewLabel>ABSLI Comm Ext Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABSLI Comm Ext Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This is to create a Platform Event Logger Record.</description>
        <name>Create_PE_Logger_Record</name>
        <label>Create PE Logger Record</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Invoke_Platform_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Attachment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Emails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Mobile__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_Address__c</field>
            <value>
                <elementReference>currentRecord.Asset.Advisor__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_MobilePhone__c</field>
            <value>
                <elementReference>currentRecord.Asset.Advisor__r.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakeBodyFromContentDoc__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_Platform_Event</name>
        <label>Invoke Platform Event</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>currentRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This is to create a Platform Event Logger Record.</description>
        <name>Output_1_PE_Logger</name>
        <label>Output 1 PE Logger</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Output_1_PE_Logger_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Attachment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>ABSLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Emails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Mobile__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_Cc_Addresses__c</field>
            <value>
                <elementReference>SupervisorEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_Address__c</field>
            <value>
                <elementReference>ToEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_MobilePhone__c</field>
            <value>
                <elementReference>RecipientMobileNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakeBodyFromContentDoc__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Output_1_PE_Logger_Trigger</name>
        <label>Output 1 PE Logger Trigger</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>currentRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Output_1_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Output_1_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This is to create a Platform Event Logger Record.</description>
        <name>Output_2_PE_Logger</name>
        <label>Output 2 PE Logger</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Output_2_PE_Logger_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Attachment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Emails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Specific_Mobile__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_Address__c</field>
            <value>
                <elementReference>ToEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_To_MobilePhone__c</field>
            <value>
                <elementReference>SupervisorMobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakeBodyFromContentDoc__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Output_2_PE_Logger_Trigger</name>
        <label>Output 2 PE Logger Trigger</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>currentRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>AdvisorSMSTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Output_2_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Output_2_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvisorSMSTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cccRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASF_Case_Category_Config__c</objectType>
    </variables>
    <variables>
        <name>CreateSMSMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ABSLI_Advisor_Case_Creation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Current Record Context</description>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>customMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Older version of Case record.</description>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>outcome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecipientMobileNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResolvedSMSTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ABSLI_Advisor_Case_Closure</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupervisorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
