force-app/main/default/flows/Case_File_Transfer_to_DMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transfer_ABFL_Case_Files_To_DMS</name>
        <label>Transfer ABFL Case Files To DMS</label>
        <locationX>668</locationX>
        <locationY>374</locationY>
        <actionName>ABFL_DMSSync_Orchestrator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ABFL_DMSSync_Orchestrator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Transfer_ABHI_Files_to_OmniDoc</name>
        <label>Transfer ABHI Files to OmniDoc</label>
        <locationX>920</locationX>
        <locationY>537</locationY>
        <actionName>ABHI_OmniDocUploadController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstCaseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ABHI_OmniDocUploadController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TransferFilesToDMS</name>
        <label>Transfer Files To DMS</label>
        <locationX>1181</locationX>
        <locationY>371</locationY>
        <actionName>ABCL_IntegrationCommonUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ABCL_IntegrationCommonUtility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Business_Unit_Check</name>
        <label>Business Unit Check</label>
        <locationX>909</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>TransferFilesToDMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>isABFLorABWM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABFL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABWM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_ABFL_Case_Files_To_DMS</targetReference>
            </connector>
            <label>is ABFL or ABWM</label>
        </rules>
        <rules>
            <name>isABHI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_ABHI_Files_to_OmniDoc</targetReference>
            </connector>
            <label>is ABHI</label>
        </rules>
    </decisions>
    <description>ABHI case files to OmniDoc changes</description>
    <environments>Default</environments>
    <interviewLabel>Case File Transfer to DMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case File Transfer to DMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>506</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Create_DMS_File_Transfer_Platform_Event</name>
            <connector>
                <targetReference>Business_Unit_Check</targetReference>
            </connector>
            <label>Create DMS File Transfer Platform Event</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
