force-app/main/default/flows/Case_Stage_SLA_and_Over_all_SLA_Broken_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This apex class is for checking the BU Specific logic.</description>
        <name>Additional_Checks_for_Email_Templates</name>
        <label>Additional Checks for Email Templates</label>
        <locationX>776</locationX>
        <locationY>708</locationY>
        <actionName>ASF_CustomerEmailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Holding_Response</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__caseRecord</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__cccRecord</typeName>
            <typeValue>ASF_Case_Category_Config__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cccRecord</name>
            <value>
                <elementReference>Query_Case_Category_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>EmailTempDevName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CustomerEmailInvocable</nameSegment>
        <outputParameters>
            <assignToReference>SuppresssEmail</assignToReference>
            <name>supressEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EmailTempDevName</assignToReference>
            <name>templateName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Stage_SLA_2_Breach_Action</name>
        <label>Handle Stage SLA 2 Breach Action</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <actionName>ASF_CaseStageSLA2TimeBasedAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CaseStageSLA2TimeBasedAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Stage_SLA_3_Breach_Action</name>
        <label>Handle Stage SLA 3 Breach Action</label>
        <locationX>1898</locationX>
        <locationY>276</locationY>
        <actionName>ASF_CaseStageSLA3TimeBasedAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CaseStageSLA3TimeBasedAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mark_Overall_Case_SLA_Broken</name>
        <label>Mark Overall Case SLA Broken</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>ASF_OverallCaseSlaBroken</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isReopened</name>
            <value>
                <elementReference>$Record.Reopened__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_OverallCaseSlaBroken</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Stage_1_SLA_Broken_Email</name>
        <label>Send Stage 1 SLA Broken Email</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>ASF_CaseStageSLATimeBasedAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>casesList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CaseStageSLATimeBasedAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Holding_Response_Email_Template</name>
        <label>Holding Response Email Template</label>
        <locationX>1139</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Category_Config.Holding_Response_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_CCC_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_CCC_Is_Not_Null</name>
        <label>Check if CCC Is Not Null</label>
        <locationX>1139</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Case_Category_Config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Template_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_send_communication_flags</name>
        <label>Check send communication flags</label>
        <locationX>710</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Create_PE_Logger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Communication_disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Case_Category_Config.Send_open_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Communication disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Template_Found</name>
        <label>Email Template Found?</label>
        <locationX>908</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Holding_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailTempDevName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Checks_for_Email_Templates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Holding_Response</name>
        <label>Send Holding Response</label>
        <locationX>908</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_01</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Query_Case_Category_Config.Send_Holding_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Case_Category_Config.Holding_Response_Email_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Case_Category_Config.Holding_Response_SMS_Metadata__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuppresssEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_send_communication_flags</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When case SLA is broken or Stage SLA is broken , this is executed
Passing Case record Id to invocable class</description>
    <environments>Default</environments>
    <interviewLabel>Case Stage SLA and Over all SLA Broken Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Over all SLA Broken Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PE_Logger</name>
        <label>Create PE Logger</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Invoke_Platform_Event_for_Communication</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>Query_Case_Category_Config.Holding_Response_SMS_Metadata__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>Query_Case_Category_Config.Holding_Response_Email_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>Query_Case_Category_Config.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Auto_Communication__c</field>
            <value>
                <elementReference>$Record.No_Auto_Communication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_Platform_Event_for_Communication</name>
        <label>Invoke Platform Event for Communication</label>
        <locationX>842</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>Query_Case_Category_Config.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>Query_Case_Category_Config.Holding_Response_SMS_Metadata__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>Create_PE_Logger</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Case_Category_Config</name>
        <label>Query Case Category Config</label>
        <locationX>1139</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Holding_Response_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SLA_Broken__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopen_SLA_Broken__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>SLA_Broken</name>
            <connector>
                <targetReference>Send_Stage_1_SLA_Broken_Email</targetReference>
            </connector>
            <label>Stage SLA Broken</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Stage_SLA_1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CASE_overall_SLA</name>
            <connector>
                <targetReference>Mark_Overall_Case_SLA_Broken</targetReference>
            </connector>
            <label>CASE overall SLA</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Overall_Case_Closure_SLA__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SLA_Breach_Customer_Notification</name>
            <connector>
                <targetReference>Query_Case_Category_Config</targetReference>
            </connector>
            <label>SLA Breach Customer Notification</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Overall_Case_Closure_SLA__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SLA2_Broken</name>
            <connector>
                <targetReference>Handle_Stage_SLA_2_Breach_Action</targetReference>
            </connector>
            <label>SLA2 Broken</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Stage_SLA_2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SLA3_Broken</name>
            <connector>
                <targetReference>Handle_Stage_SLA_3_Breach_Action</targetReference>
            </connector>
            <label>SLA3 Broken</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Stage_SLA_3__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailTempDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuppresssEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
