force-app/main/default/flows/Case_Stage_SLA_and_Over_all_SLA_Broken_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mark_Overall_Case_SLA_Broken</name>
        <label>Mark Overall Case SLA Broken</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <actionName>ASF_OverallCaseSlaBroken</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isReopened</name>
            <value>
                <elementReference>$Record.Reopened__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_OverallCaseSlaBroken</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Stage_1_SLA_Broken_Email</name>
        <label>Send Stage 1 SLA Broken Email</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>ASF_CaseStageSLATimeBasedAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>casesList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CaseStageSLATimeBasedAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>When case SLA is broken or Stage SLA is broken , this is executed</description>
    <environments>Default</environments>
    <interviewLabel>Case Over all SLA Broken Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Over all SLA Broken Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SLA_Broken__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reopen_SLA_Broken__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Stage_SLA_Broken</name>
            <connector>
                <targetReference>Send_Stage_1_SLA_Broken_Email</targetReference>
            </connector>
            <label>Stage SLA Broken</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Stage_SLA_1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CASE_overall_SLA</name>
            <connector>
                <targetReference>Mark_Overall_Case_SLA_Broken</targetReference>
            </connector>
            <label>CASE overall SLA</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Overall_Case_Closure_SLA__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
