force-app/main/default/flows/Communication_Log_Extension_Flow_BU_Specific_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Placeholder to separate BU Specific Flow</description>
        <name>Check_Business_Unit</name>
        <label>Check Business Unit</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABSLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecord.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABSLI_Extn_Flow</targetReference>
            </connector>
            <label>ABSLI</label>
        </rules>
    </decisions>
    <description>This flow extends the Communication Log - Email Flow (Record Trigger on Case) to further process BU Specific Code.</description>
    <environments>Default</environments>
    <interviewLabel>Communication Log Extension Flow - BU Specific Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communication Log Extension Flow - BU Specific Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Business_Unit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ABSLI_Extn_Flow</name>
        <label>ABSLI Extn Flow</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <flowName>ABSLI_Comm_Ext_Flow</flowName>
        <inputAssignments>
            <name>cccRecord</name>
            <value>
                <elementReference>cccRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentRecord</name>
            <value>
                <elementReference>CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>customMetadataName</name>
            <value>
                <elementReference>customMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>oldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cccRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ASF_Case_Category_Config__c</objectType>
    </variables>
    <variables>
        <description>This stores the current context of record</description>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>customMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This store the older version of Record</description>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
