force-app/main/default/flows/Communication_Log_Flow_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This apex class is for checking the BU Specific logic.</description>
        <name>Additional_Checks_for_Email_Templates</name>
        <label>Additional Checks for Email Templates</label>
        <locationX>1106</locationX>
        <locationY>2363</locationY>
        <actionName>ASF_CustomerEmailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_contact_or_account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__cccRecord</typeName>
            <typeValue>ASF_Case_Category_Config__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cccRecord</name>
            <value>
                <elementReference>Get_case_config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>EmailTempDevName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ASF_CustomerEmailInvocable</nameSegment>
        <outputParameters>
            <assignToReference>SuppresssEmail</assignToReference>
            <name>supressEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EmailTempDevName</assignToReference>
            <name>templateName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_creator_when_the_case_is_closed</name>
        <label>Case creator when the case is closed</label>
        <locationX>2750</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_creator_when_the_case_is_closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Case_Owner_is_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_creator_when_the_case_is_closed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_owner_when_the_case_is_assigned</name>
        <label>Case owner when the case is assigned</label>
        <locationX>2706</locationX>
        <locationY>1139</locationY>
        <actionName>Case.Case_owner_when_the_case_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Case_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_owner_when_the_case_is_assigned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Recategorisation_Templates</name>
        <label>Assign Recategorisation Templates</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Recategorisation_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Recategorisation_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Recategorisation_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Template_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Email_Template</name>
        <label>Resolved Email Template</label>
        <locationX>1370</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Template_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicate_Email_Template</name>
        <label>Duplicate Email Template</label>
        <locationX>1898</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Duplicate_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Duplicate_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Duplicate_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Template_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Email_Template</name>
        <label>New Email Template</label>
        <locationX>1106</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.New_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.New_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.New_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Template_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejection_Email_Template</name>
        <label>Unresolved Email Template</label>
        <locationX>1634</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Rejected_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTempDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Rejected_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Rejected_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Template_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>By_pass_flow</name>
        <label>By pass flow</label>
        <locationX>648</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_case_is_from_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ByPassFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.By_Pass_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ByPassFlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_category_config</name>
        <label>Check case category config</label>
        <locationX>2459</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_send_communication_configs</targetReference>
            </connector>
            <label>record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_creator_if_case_closed</name>
        <label>Check case creator if case closed</label>
        <locationX>2838</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Owner_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_email_to_creator_case_closed</name>
            <conditionLogic>1 AND 2 AND 4 AND 6 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ABFSGSFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Origin_is_Email</targetReference>
            </connector>
            <label>Send email to creator case closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Owner_is_changed</name>
        <label>Check Case Owner is changed</label>
        <locationX>2838</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Check_Case_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_email_to_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ABFSGSFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_owner_when_the_case_is_assigned</targetReference>
            </connector>
            <label>Send email to owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_status</name>
        <label>Check Case status</label>
        <locationX>2838</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Closed_Rejected_Resolved</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7) OR 8 OR (9 AND (10 OR 13 OR 14)) OR (11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unresolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recategorisation_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Recategorisation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCC_External_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CCC_External_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABFL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABWM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABHFL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_config</targetReference>
            </connector>
            <label>New,Closed,Rejected,Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_contact_or_account</name>
        <label>Check for contact or account</label>
        <locationX>1238</locationX>
        <locationY>2555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Con_Acc_exists</name>
            <conditionLogic>(1 OR 2 OR 6) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SMSCustomMetadataName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailTempDevName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuppresssEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE_Logger_Record</targetReference>
            </connector>
            <label>Con/Acc exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_email</name>
        <label>Check for email</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_status</name>
            <conditionLogic>(1 OR 2 OR 3) AND  4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technical_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLIG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_framework_flow</targetReference>
            </connector>
            <label>Case status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_case_is_from_email</name>
        <label>Check if case is from email</label>
        <locationX>1510</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_case_creator_if_case_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_from_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_email</targetReference>
            </connector>
            <label>Case is from email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Origin_is_Email</name>
        <label>Check if the Origin is Email</label>
        <locationX>2662</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Case_creator_when_the_case_is_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Or_API</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technical_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Owner_is_changed</targetReference>
            </connector>
            <label>Email Or API</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_send_communication_configs</name>
        <label>Check send communication configs</label>
        <locationX>1964</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_communication_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_config.Send_open_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Closed_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Rejected_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Duplicate_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Recategorisation_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Recategorised</targetReference>
            </connector>
            <label>Create communication record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_metadata_names</name>
        <label>Custom metadata names</label>
        <locationX>1766</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Stage</name>
            <conditionLogic>((1 OR (6 AND 7)) AND 2) OR (2 AND 3 AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_open_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recategorisation_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Recategorisation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Email_Template</targetReference>
            </connector>
            <label>New - Status</label>
        </rules>
        <rules>
            <name>Closed_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Closed_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Email_Template</targetReference>
            </connector>
            <label>Resolved - Status</label>
        </rules>
        <rules>
            <name>Rejection_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Rejected_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Email_Template</targetReference>
            </connector>
            <label>Unresolved - Stage</label>
        </rules>
        <rules>
            <name>Duplicate_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Duplicate_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Email_Template</targetReference>
            </connector>
            <label>Duplicate - Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Template_Found</name>
        <label>Email Template Found?</label>
        <locationX>1238</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Check_for_contact_or_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailTempDevName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Checks_for_Email_Templates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Recategorised</name>
        <label>Is Case Recategorised</label>
        <locationX>1238</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Custom_metadata_names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Recategorised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCC_External_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CCC_External_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recategorisation_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Recategorisation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CCC_Recat_flag_true</targetReference>
            </connector>
            <label>Yes Recategorised</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CCC_Recat_flag_true</name>
        <label>Is CCC Recat flag true</label>
        <locationX>710</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Recat_Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_config.Send_Recategorisation_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recategorisation_Templates</targetReference>
            </connector>
            <label>Send Recat Flag True</label>
        </rules>
    </decisions>
    <description>added condition to send an email for ABFL when case is categorized .
Added condition to send email/sms when case status is Closed Duplicate
Added logic to send welcome email on account recat</description>
    <formulas>
        <name>PE_UniqueID</name>
        <dataType>String</dataType>
        <expression>&apos;CommnunicationLog-&apos; +{!$User.Id} +&apos;-&apos;+TEXT(UNIXTIMESTAMP(NOW()))</expression>
    </formulas>
    <interviewLabel>Communication Log Flow - Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communication Log Flow - Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PE_Logger_Record</name>
        <label>Create PE Logger Record</label>
        <locationX>1106</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Invoke_PlatformEvent_Communication_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>SMSCustomMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>EmailTempDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Auto_Communication__c</field>
            <value>
                <elementReference>$Record.No_Auto_Communication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Name__c</field>
            <value>
                <stringValue>CommnunicationLog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>PE_UniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_PlatformEvent_Communication_Log</name>
        <label>Invoke PlatformEvent - Communication Log</label>
        <locationX>1106</locationX>
        <locationY>2771</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>customMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>PE_UniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case_config</name>
        <label>Get case config</label>
        <locationX>2459</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_case_category_config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>522</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_pass_flow</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Technical_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LWC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API</stringValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pre_framework_flow</name>
        <label>Pre-framework flow</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <flowName>Pre_framework_Communication_flow</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecordPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>customMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTempDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSCustomMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuppresssEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
