force-app/main/default/flows/Pre_framework_Communication_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Closed_Email_Template</name>
        <label>Closed Email Template</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Resolved_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_Logger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Closed_Email_Template</name>
        <label>Closed Email Template</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generic_SR_Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAYMENT_SR_CLOSED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_Logger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Open_Email_Template</name>
        <label>Open Email Template</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generic_SR_Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAYMENT_SR_CREATED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_Logger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Email_Template</name>
        <label>Open Email Template</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.New_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.New_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_Logger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejection_Email_Template</name>
        <label>Rejection Email Template</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>customMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Rejected_Case_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSCustomMetadataName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_config.Rejected_Case_SMS_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_Logger_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_case_status</name>
        <label>Check case status</label>
        <locationX>1513</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chceck_case_status</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_config</targetReference>
            </connector>
            <label>Chceck case status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_send_communication_configs</name>
        <label>Check send communication configs</label>
        <locationX>952</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Stage_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_communication_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_metadata_names</targetReference>
            </connector>
            <label>Create communication record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_metadata_names</name>
        <label>Custom metadata names</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_open_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Email_Template</targetReference>
            </connector>
            <label>Open - Stage</label>
        </rules>
        <rules>
            <name>Resolved_Stage</name>
            <conditionLogic>(1 OR 4) AND 2 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Closed_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Email_Template</targetReference>
            </connector>
            <label>Resolved - Stage</label>
        </rules>
        <rules>
            <name>Rejection_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case_config.Send_Rejected_stage_communications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Email_Template</targetReference>
            </connector>
            <label>Rejection - Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Checks</name>
        <label>Stage Checks</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Open_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Open_Email_Template</targetReference>
            </connector>
            <label>Open - Stage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Resolved_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Closed_Email_Template</targetReference>
            </connector>
            <label>Resolved - Stage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Rejection_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordPrior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE_Logger_Record</targetReference>
            </connector>
            <label>Rejection - Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PE_UniqueID</name>
        <dataType>String</dataType>
        <expression>&apos;CommnunicationLog-&apos; +{!$User.Id} +&apos;-&apos;+TEXT(UNIXTIMESTAMP(NOW()))</expression>
    </formulas>
    <interviewLabel>Pre-framework Communication flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-framework Communication flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PE_Logger_Record</name>
        <label>Create PE Logger Record</label>
        <locationX>952</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Invoke_PlatformEvent_Communication_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>CaseRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>SMSCustomMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>customMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>CaseRecord.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Name__c</field>
            <value>
                <stringValue>CommnunicationLog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_PE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>PE_UniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>PE_Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoke_PlatformEvent_Communication_Log</name>
        <label>Invoke PlatformEvent - Communication Log</label>
        <locationX>952</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>CCCExternalId__c</field>
            <value>
                <elementReference>CaseRecord.CCC_External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomMetadataName__c</field>
            <value>
                <elementReference>customMetadataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PELoggerId__c</field>
            <value>
                <elementReference>Create_PE_Logger_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Id__c</field>
            <value>
                <elementReference>PE_UniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>ASF_CommnunicationLog__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case_config</name>
        <label>Get case config</label>
        <locationX>952</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_send_communication_configs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCC_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.CCC_External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASF_Case_Category_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1387</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_case_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>customMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSCustomMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
